[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "manymodelr"]
	path = manymodelr
	url = https://github.com/nelson-gon/manymodelr
[submodule "mde"]
	path = mde
	url = https://github.com/nelson-gon/mde
